.app {
  max-width: 400px;
  height: auto;
  margin: 30px 15px;
  padding: 30px;

  background-color: hsl(213, 19%, 18%);
  /* border: 1px solid white; */
  border-radius: 20px;
  background-image: radial-gradient(
    circle at top,
    hsl(213, 19%, 18%) 10%,
    hsl(216, 12%, 8%) 150%
  );
}

.rating-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 16px 0 24px 0;
}

.thanks-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 0 24px 0;
}

h1 {
  font-weight: 700;
  line-height: 2em;
  color: hsl(0, 0%, 100%);
  padding: 20px 0px 0px 0px;
}

p {
  font-size: 15px;
  line-height: 1.5em;
  color: hsl(217, 12%, 63%);
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50px;

  background-color: hsl(214, 21%, 23%);
}

.rating-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0;
}

button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-style: none;

  color: hsl(217, 12%, 63%);
  background-color: hsl(214, 21%, 23%);
}

@media screen and (max-width: 350px) {
  button {
    width: 40px;
    height: 40px;
  }
}

button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  transition-duration: 0.4s;
}

button:focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
  transition-duration: 0.4s;
}

.submit {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.1em;
  width: 100%;
  max-width: 340px;
  height: 45px;
  border-radius: 50px;
  border-style: none;

  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.rating-selected {
  width: 200px;
  margin-top: 24px;
  background-color: hsl(214, 21%, 23%);
  border-radius: 40px;
}

.rating-selected-p {
  color: hsl(25, 97%, 53%);
  padding: 5px 0 3px 0;
}

small {
  font-size: 12px;
  line-height: 1.5em;
  color: hsl(218, 7%, 45%);
}

a {
  text-decoration: none;
  color: hsl(220, 6%, 62%);
}
