@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: none;
  -webkit-box-sizing: border-box;

  font-family: "Overpass", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: 100vh;
    background: hsl(216, 12%, 8%);
}